{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Sign up menu</h1>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <p>
                    {{ form.username.label }}<br>
                    {{ form.username() }}
                    </p>
                    <p>
                    {{text}}
                    </p>
                    <p>
                    {{ form.email.label }}<br>
                    {{ form.email() }}
                    </p>
                    <p>
                    {{text1}}
                    </p>
                    <p>
                    {{ form.password.label }}<br>
                    {{ form.password() }}
                    </p>
                    <p>
                    {{ form.submit() }}
                    </p>
                </form>
        </div>
    </div>
</div>
{% endblock%}